@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
}

.nav {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 10%;
}

#logo {
    font-size: 25px;
    font-weight: bold;
}

#links {
    display: flex;
    width: 35%;
    justify-content: space-around;
}

#links div a {
    text-decoration: none;
    color: #000;
}

#links div a:hover {
    color: #51c0a6;
}

.container {
    width: 80%;
    margin: 5% auto;
    text-align: justify;
    /* border: 1px solid red; */
}

.heading {
    font-size: 30px;
    color: #222;
    font-weight: 600;
}