@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
}

.nav {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 10%;
}

#logo {
    font-size: 25px;
    font-weight: bold;
}

#links {
    display: flex;
    width: 35%;
    justify-content: space-around;
}

#links div a {
    text-decoration: none;
    color: #000;
}

#links div a:hover {
    color: #51c0a6;
}

.container {
    width: 80%;
    margin: 5% auto;
    text-align: justify;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}

.heading {
    font-size: 30px;
    color: rgb(63, 63, 63);
    font-weight: 600;
}



.notes {
    width: 78%;
    height: 150px;
    padding: 30px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 5px;
}

.notes h3 {
    display: block;
}

.note {
    /* border: 1px solid; */
    width: 70%;
}

.buttons {
    /* border: 1px solid blue; */
    width: 25%;
    /* height: 30px; */
    display: flex;
    justify-content: space-evenly;
}

.buttons button {
    padding: 8px 30px;
    border-radius: 4px;
    border: none;
}

.buttons button:first-child {
    background: #f7cd7e;
}

.buttons button:first-child:hover {
    background: #ffa600;
    color: #fff;
}

.buttons button:last-child {
    background-color: #ff6f53;
}

.buttons button:last-child:hover {
    background-color: #ff2a00;
    color: #fff;
}

.button-30 {
    align-items: center;
    appearance: none;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.new {
    padding: 2px 60px;
    border-radius: 4px;
    border: none;
    background: #51c0a6;
    color: white;
    letter-spacing: 2px;
    font-size: 16px;
}

.new:hover {
    background: #f67459;
    transition: .5s;
}